* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: black;
}
.container2{
   padding: 30px 20px;
   margin: auto;
   background-color: blue;
   width: 200px;
   border-radius: 9px;  
   font-family: 'Josefin Sans', sans-serif;
   text-transform: uppercase;
   text-align: center;
   font-weight: 400;
   font-size: 20px;
}
.Gen{
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px 0;
    font-weight: 500;
    border-radius: 8px;
    margin-right: 4% ;
    font-size: medium;
    border-bottom: 7px;
    border: none;
    width: 50%;
    
}
